<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


</head>

<body id="login" class="video-bg" data-vide-bg="/video/pickachu_runtime">

    <%- include('../partials/header') %>

<form class="form-login p-4" action="/auth/login" method="POST">

    <div class="title-form mb-3">
        <h1 class="h3">Login</h1>
    </div>



    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <input type="submit" class="btn btn-primary w-100" id="send-login" value="Iniciar Sesión">

    <p class="mt-3">¿No tienes cuenta? <a href="/auth/register">Registrarse</a></p>
    <p>Olvidaste tu contraseña? <a href="">Recuperar cuenta</a></p>

</form>




<%- include('../partials/vide-scripts') %>



</body>

</html>