<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


</head>

<body id="login">

    <%- include('../partials/header') %>

        <form class="form" action="/login" method="POST">

            <div class="title-form">
                <h1>Login</h1>
            </div>

            <p>Inicie sesión con su cuenta</p>
        

            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Constraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>


            <input type="submit" id="send-login" value="Iniciar Sesión">

            <p>Ya tienes cuenta? Click aquí <a href="/auth/register">Registrarse</a></p>
            <p>Olvidaste tu contraseña? Click aquí <a href="">Recuperar cuenta</a></p>

        </form>




</body>

</html>