<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="header">
  <div class="inner-header">
    <div class="logo-container">
      <h1>Collect<span>Market</span> </h1>
    </div>
    <ul class="navigation">
      <li><a href="/">Home</a></li>
      <li><a>About</a></li>
      <li><a>Portafolio</a></li>
      <li><a>Contacto</a></li>

    </ul>
    

    <form id="header-form" action="/search" method="GET">
      <input type="text" name="search" placeholder="Buscar carta..." />
      <div id="search-icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></div>

    </form>

    <a id="login-button" href="/auth/login">
      <i class="fa-solid fa-user-tie"></i> Iniciar Sesión
    </a>

     <a id="register-button" href="/auth/register">
      <i class="fa-solid fa-user-tie"></i> Registrarse
    </a>
    
  

  </div>

</div>