<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollectMarket</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Librería para slider con Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>



</head>

<body class="video-bg" data-vide-bg="/video/pickachu_runtime">

    <%- include('partials/header') %>
        <div class="container-index">
            <div class="content-index">
                <section class="slider">
                    <h1>Cartas destacadas</h1>

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <% for(let i=0; i < 5; i++) { %>
                                <% popularCards.forEach(card=> { %>
                                    <div class="swiper-slide card">
                                        <img src="<%= card.image %>" alt="<%= card.name %>" />
                                    </div>
                                    <% }) %>

                                        <%} %>
                        </div>
                    </div>
                </section>

                <div class="category-logo">
                    <div class="category-btn">
                        <p>Ver colección</p>
                    </div>
                    <i class="fa-solid fa-sort-down"></i>
                </div>




            </div>

            <div class="content-category">
                <h2>Colección</h2>

                <div><img src="img/category/comn.png" alt="Eléctrico">
                    <p>Eléctrico</p>
                </div>
                <div><img src="img/category/infrecente.png" alt="Agua"></div>
                <div><img src="img/category/rara.png" alt="Tierra"></div>
                <div><img src="img/category/normal.svg" alt="Normal"></div>

            </div>




        </div>

        <%- include('partials/vide-scripts') %>

        <!-- Lógica slider -->
        <script src="/js/slider.js"></script>
        <script src="/js/scroll.js"></script>

</body>

</html>