*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    display: flex;          
    justify-content: center;  
    align-items: center;        
    height: 100vh; 
    
}


.form{

    width: 40%;
    height: 50%;
    text-align: center;
    border: 2px solid white;
    color: white;
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    background-color: rgba(32, 45, 56, 0.959);
}

.form h1{
    margin-bottom: 20px;
}

.form a{
    color: rgb(182, 71, 184);
}

.form-group label{
   display: flex; 
  flex-direction: column;
}

.form-group input{
  border: 2px solid black;
}

.title-form{
    border-bottom: 2px solid gray;
    width: 50%;
}


