* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {

  background-image: url("/img/fondo.jpg");
  background-size: cover;
  
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: block;
border-bottom: 1px solid black;

 background-color: rgb(32, 45, 56);
  color: rgb(32, 45, 56);

}

.inner-header {
  display: flex;
  width: 90%;
  height: 100%;

  align-items: center;

  margin: 0 auto;
}

.logo-Container{

  height: 100%;
  display: table;
  float: left;
  margin-right: 20px;

}

.logo-container span{
  font-weight: 900;
}

.logo-container h1{

 color: white;
 height: 100%;
 padding-left: 20px;
text-decoration: none;
 display: table-cell;
 vertical-align: middle;
 font-size: 32px;
 font-weight: 600;

}

.navigation li{
  display: table;
  
  height: 100%;
  float: left;
  padding: 0px 15px;
  
}
.navigation li:first-child{
  padding-left: 30px;
  
}

.navigation li:last-child{
   border-right: 0;
}

.navigation li a{
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
  color: white;
  text-decoration: none;
  
}


#header-form{
  position: relative;
  display: flex;
  margin-left: auto;

}

#header-form input{
  display: flex;
  width: 400px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 40px;
  margin-right: 20px;
}

#search-icon{
  width: 25px;
  height: 25px;

  color: grey;
  position: absolute;
  left: 9px;
  top:5px;
  border-right: 2px solid grey;
  cursor: pointer;
  
}

#login-button, #register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 140px;

  text-decoration: none;
  color: black;
  transition: all 0.3s ease;

  border: 2px solid black;
  border-radius: 10px;
  background-color: aliceblue;

}




/* Movimiento hacia arriba */

#login-button:hover, #register-button:hover {
  transform: translateY(-3px);
}

#register-button:hover{
  
  background-color: rgb(94, 176, 243);
}


/* Iconos FontAwesome */

.fa-solid {
  font-size: 15px;
  margin-right: 5px;

}