*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-index{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-index{
  
    width: 85%;
    height: 75%;
    border-radius: 10px;
    border: 2px solid black;

    background-color: rgba(32, 45, 56, 0.796);

}

.txt-collection{
  color: white;
  text-align: center;
  font-size: 25px;
}

.div-collection{
  height: 40px;
  width: 200px;
  margin: auto;
  border:2px solid white;
  
}

/*--------------------------------------------------*/

.slider{
  margin: auto;
  text-align: center;
}

.slider h1{
  padding: 20px;
  color: white;
  text-decoration: wavy;
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.swiper.mySwiper{
   width: 100%;
  padding: 40px 0;
}

.swiper-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  
-webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 

    
  
 
}


.swiper-slide.card {
 width: 250px!important;
  height: 300px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
   transition: transform 0.6s ease;
   

}
.swiper-slide.card:hover {
 cursor: pointer;
 transform: translateY(-5px);
   
}



.swiper-slide.card img {
  width: 90%;
  height: 90%; 
 
  border-radius: 10px;
}

